DB_USERNAME=dropbox
DB_PASSWORD=dropbox123
RABBITMQ_USERNAME=dropbox
RABBITMQ_PASSWORD=dropbox123

MINIO_USER=dropbox
MINIO_PASSWORD=dropbox123
MINIO_PUBLIC_URL=http://172.17.0.1:9000
JWT_SECRET=gtlWtwjKFAlzYBDMdPVYxOtcDPMcgaFWBRymOu87luU=